* {
    font-family: 'Nunito', sans-serif;
}

.main {
    width        : 80%;
    height       : auto;
    border       : 0.1rem solid grey;
    border-radius: 1rem;
    margin       : auto;
    margin-top   : 10rem;
    display      : grid;
    padding      : 0rem 0rem 8rem 0rem;
}

.forum {
    width      : 98%;
    padding    : 0.5rem;
    border     : 0.1rem solid black transparent;
    margin     : auto;
    font-size  : 2.6rem;
    font-weight: 600;
    color      : rgb(109, 109, 109);
}

.forum-two {
    width      : 98%;
    border     : 0.1rem solid black transparent;
    margin     : auto;
    padding    : 0.5rem;
    font-size  : 1.8rem;
    font-weight: 400;
    color      : grey;
}

.options {
    width        : 98%;
    height       : 3.5rem;
    border       : 0.1rem solid black transparent;
    margin       : auto;
    display      : flex;
    margin-bottom: 4rem;
    margin-top   : 1rem;
}

.slct-group {
    padding    : 0.5rem;
    display    : block;
    margin-left: 1rem;
    font-size  : 1.6rem;
    color      : grey;
}

.article {
    width  : 98%;
    height : 7rem;
    border : 0.1rem solid black transparent;
    margin : auto;
    display: flex;
}

.left-a {
    width          : 48%;
    height         : 100%;
    border         : 0.1rem solid transparent;
    position       : relative;
    justify-content: space-between;
    text-align     : left;
    margin         : auto;
}

.right-a {
    width  : 48%;
    height : 100%;
    border : 0.1rem solid transparent;
    display: flex;
    margin : auto;
}



.art-txt-one {
    width    : 100%;
    font-size: 1.5rem;
    color    : grey;
    border   : 0.1rem solid transparent;
    padding  : 0rem 1rem;
    font-size: 1.7rem;
}

.art-txt-two {
    width    : 100%;
    font-size: 1.4rem;
    border   : 0.1rem solid transparent;
    color    : grey;
    position : absolute;
    bottom   : 0;
    padding  : 0rem 3rem;
    font-size: 1.6rem;
}

.art-txt-two span {
    color      : rgb(201, 137, 19);
    font-weight: 600;
}

.art-two-txt {
    font-size: 1.5rem;
    color    : grey;
    margin   : auto;
}

hr {
    width  : 98%;
    height : 0;
    color  : grey;
    opacity: 0.5;
    margin : auto;
}

@media screen and (max-width: 1000px) {

    .main {
        width : 100%;
        border: none;
    }

    .left-a {
        width          : 60%;
        height         : 100%;
        border         : 0.1rem solid transparent;
        position       : relative;
        justify-content: space-between;
        text-align     : center;
    }

    .right-a {
        width  : 40%;
        height : 100%;
        border : 0.1rem solid transparent;
        display: flex;
    }

    .a-t-t-m {
        margin-left: 10%;
    }

}

@media screen and (max-width: 680px) {

    .main {
        width : 100%;
        border: none;
    }

    .options {
        margin-top: 1rem;
    }

    .article {
        width     : 98%;
        height    : 13rem;
        border    : 0.1rem solid black transparent;
        margin    : auto;
        display   : grid;
        margin-top: 1rem;
    }

    .left-a {
        width          : 100%;
        height         : 100%;
        border         : 0.1rem solid transparent;
        position       : relative;
        justify-content: space-between;
        text-align     : left;
    }

    .right-a {
        width  : 100%;
        height : 100%;
        border : 0.1rem solid transparent;
        display: flex;
    }

    .art-two-txt {
        font-size: 1.5rem;
        color    : grey;
        margin   : auto;
    }

    .a-t-t-m {
        margin-left: 30%;
    }
}

@media screen and (max-width: 420px) {
    .forum-two {
        font-size: 1.7rem;
    }

    .slct-group {
        padding    : 0.3rem;
        font-size  : 1.5rem;
        margin-left: 0.5rem;
    }
}

/* All Problems */

#all-problems {
    width     : 90%;
    height    : 40rem;
    border    : 0.1rem solid black;
    margin    : auto;
    margin-top: 5rem;
    display   : grid;
    padding: 0rem 0rem 8rem 0rem;
}

.a-top {
    width        : 90%;
    height       : 5rem;
    border       : 0.1rem solid black transparent;
    border-bottom: 0.1rem solid grey;
    margin       : auto;
    display      : flex;
}

.prb {
    width      : 30%;
    padding    : 0.5rem;
    border     : 0.1rem solid transparent;
    font-size  : 1.6rem;
    font-weight: 700;
    text-align : center;
    margin     : auto;
}

.hr-one {
    width : 0.1rem;
    height: 3rem;
}

.a-mid {
    width  : 90%;
    border : 0.1rem solid black transparent;
    margin : auto;
    padding: 1rem;
    display: flex;
}

.new-d {
    width           : max-content;
    padding         : 0.7rem 2rem;
    border          : 0.1rem solid black transparent;
    border-radius   : 0.7rem;
    background-color: #1592E6;
    font-size       : 1.6rem;
    color           : white;
}

.a-search {
    width: 30%;
    padding      : 0.7rem 2rem;
    border       : 0.1rem solid grey;
    margin-left  : 1rem;
    border-radius: 0.7rem;
}

.p-div {
    width: 90%;
    height: 7rem;
    border: 1px solid black transparent;
    margin: auto;
    display: flex;
}

.p-one-div {
    width: 60%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
}

.p-img {
    width: 5rem;
    height: 5rem;
    border: 1px solid black transparent;
    display: block;
    margin: auto;
}

.p-txt-div {
    width: 90%;
    height: 100%;
    border: 1px solid black transparent;
    display: grid;
}

.p-txt-one {
    width: 100%;
    padding: 0.2rem 0 0 1rem;
    border: 1px solid black transparent;
    margin: auto;
}

.p-txt-one p {
    font-size: 1.6rem;
}

.p-txt-two {
    width: 100%;
    padding: 0.2rem 0 0 1rem;
    font-size: 1.4rem;
    border: 1px solid black transparent;
    margin: auto;
}

.p-txt-two span {
    color: rgb(235, 152, 0);
    font-weight: 600;
}

.p-o-div {
    width: 40%;
    height: 100%;
    margin: auto;
    border: 1px solid black transparent;
    display: flex;
}

.g-p-div {
    width: max-content;
    height: max-content;
    border: 1px solid black transparent;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    background-color: #1592E6;
    color: white;
    margin: auto;
    display: block;
    text-decoration: none;
}

.g-p-div-two {
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin: auto;
}

.p-hr {
    width: 90%;
}

.p-txt-one span {
    display: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 880px) {
    #all-problems {
        width: 100%;
        border: none;
    }
}

@media screen and (max-width: 780px) {
    .prb span {
        display: none;
    }

    .p-div {
        height: 14rem;
        display: grid;
    }

    .p-one-div, .p-o-div {
        width: 100%;
    }

    .g-p-div {
        margin-left: 30%;
    }

    .p-txt-one p{
        display: none;
    }

    .p-txt-one span{
        display: block;
    }
    
}


@media screen and (max-width: 500px) {
    .new-d {
        font-size: 1.4rem;
    }
    
    .a-search {
        width: 60%;
    }
}


@media screen and (max-width: 300px) {
    .p-txt-two {
        font-size: 1.2rem;
    }

    .prb {
        font-size: 1.4rem;
    }

    .p-txt-one span{
        font-size: 1.4rem;
        display: block;
    }
    
}